<div class="wallpaper"></div>

<div class="container landing-content">
  <div class="container text-center" style="background-color: rgba(255,255,255,0.8); margin-top: 20vh; margin-bottom: 10vh;">
    <%=image_tag("logo_leanio.png", style: 'width: 200px; height: auto;')%>
    <h2><em>Running Lean</em> + <em>Lean Startup</em> made simple</h2>
    <h3>Build something customers really want</h3>
    <hr>
    <p>
      <% if user_signed_in? %>
        <p><a class="btn btn-primary btn-lg" href="/projects" role="button" style="color: white">Go to your projects</a></p>
      <% else %>
        <a class="btn btn-danger btn-lg" href="/users/sign_up" role="button" style="color: white">Sign up</a>
        <a class="btn btn-lg" style="background-color: transparent; border: 2px solid white; color: red" href="/users/sign_in" role="button" style="color: white">Sign in</a>
      <% end %>
    </p>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="panel" style="background-color: rgba(255,255,255,0.8)">
        <div class="panel-heading" style="min-height: 230px;">
          <h4 class="text-center" style="background-color: red; padding: 10px; color: white;">
            Make your ideas solid and clear
          </h4>
          <hr>
          <h5><span class="glyphicon glyphicon-ok"></span> Create a project for each idea and invite others to help you</h5>
          <h5><span class="glyphicon glyphicon-ok"></span> Capture all the hypothesis that are needed to achieve success</h5>
          <h5><span class="glyphicon glyphicon-ok"></span> Compare multiple Lean Canvases and their value</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="panel" style="background-color: rgba(255,255,255,0.8)">
        <div class="panel-heading" style="min-height: 230px">
          <h4 class="text-center" style="background-color: red; padding: 10px; color: white;">
            Validate through experimentation
          </h4>
          <hr>
          <h5><span class="glyphicon glyphicon-ok"></span> Create as many experiments as you need</h5>
          <h5><span class="glyphicon glyphicon-ok"></span> Test, rate and improve your hypothesis</h5>
          <h5><span class="glyphicon glyphicon-ok"></span> Ensure all canvas areas are validated before making costly mistakes</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="panel" style="background-color: rgba(255,255,255,0.8)">
        <div class="panel-heading" style="min-height: 230px">
          <h4 class="text-center" style="background-color: red; padding: 10px; color: white;">
            Move swiftly from problem to scale
          </h4>
          <hr>
          <h5><span class="glyphicon glyphicon-ok"></span> Use Scrum sprints to manage your work</h5>
          <h5><span class="glyphicon glyphicon-ok"></span> Keep track of the status of your work and its efficiency</h5>
          <h5><span class="glyphicon glyphicon-ok"></span> Convert early adopters till you cross the chasm</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <%=image_tag("leanio-flow.png", style: 'width: 100%; max-width: 720px; height: auto;')%>
    </div>
  </div>
  <hr style="margin-top: 5px;">
  <div class="row">
    <div class="col-xs-12">
      <footer style="background-color: rgba(255,255,255,0.8)">
        <p class="text-center">
          An open source project supported by <a href="http://www.taoportfolio.com">taoPortfolio.com</a> | <a>Legal Notices</a> | <a href="https://github.com/sdurighello/leanio-rails-ajax"><b>GitHub</b></a>
        </p>
      </footer>
    </div>
  </div>
</div>
