$("#show").html("<%= escape_javascript(render 'results/modal_new') %>");

// Get IDs
var modalDialog = $(".modal-dialog");
var projectId = modalDialog.data('project-id');

// Show error message
function showError(message) {
  $(".modal-dialog").addClass("error");
  var errorElement = $("<small></small>")
    .attr('id', 'error_message')
    .addClass('error')
    .html(message);
  $(errorElement).appendTo('form .field');
}

// Create a new area
function getNewArea(data){
  var areasRow = $("#areas-row");
  areasRow.append(
    $('<div/>', {'class': 'col-xs-12', 'id': 'area-col-' + data.area_identifier.split(" ").join("-")}).append(
      $('<div/>', {'class': 'panel panel-default'})
      .append(
        $('<div/>', {'class': 'panel-heading'}).append(
          $('<h6/>', {'class': 'panel-title', 'text': data.area_identifier})
        )
      )
      .append(
        $('<div/>', {'class': 'panel-body'})
      )
    )
  );
  return $("#area-col-" + data.area_identifier.split(" ").join("-"));
}

// Create new link panel for an hypothesis
function createNewLinkPanel(data, areaCol){
  var col = $("<div></div>");
  col.addClass("col-sm-3");
  col.attr('id', "hypothesis-col-" + data.id);

  var heading = $("<div></div>");
  heading.addClass("panel panel-primary panel-heading");
  heading.attr('style', "height: 80px; overflow: hidden; white-space: normal;");

  var p = $("<p></p>");

  var newLink = $("<a></a>")
  newLink.attr('data-toggle', "modal");
  newLink.attr('data-target', "#show");
  newLink.attr('id', "hypothesis-link-" + data.id);
  newLink.attr('data-remote', "true");
  newLink.attr('href', "/projects/"+data.project_id+"/hypotheses/"+data.id);

  areaCol.find('.panel-body').append(col.append(heading.append(p.append(newLink))));
}

// CREATE hypothesis
function createHypothesis(event){
  event.preventDefault();

  // get new object
  var newHypothesis = {
    project_id: projectId,
    area_identifier: $("#hypothesis_area_identifier").val(),
    name: $("#hypothesis_name").val(),
    description: $("#hypothesis_description").val()
  };

  $.ajax({
    type: "POST",
    url: "/projects/"+projectId+"/hypotheses.json",
    data: JSON.stringify({
        hypothesis: newHypothesis
    }),
    contentType: "application/json",
    dataType: "json"})

    .done(function(data) {
      // Create a new area if the area doesn't exist
      var areaCol = $("#area-col-" + data.area_identifier.split(" ").join("-"));
      if(areaCol.length === 0){
        areaCol = getNewArea(data);
      }
      // Create and append the new link panel
      createNewLinkPanel(data, areaCol);
      // Update link name on project show view
      $("#hypothesis-link-"+data.id).html(data.name);
      // Close modal
      $("button#close-modal").click();
    })

    .fail(function(error) {
      console.log(error);
      error_message = error.responseJSON.title[0];
      showError(error_message);
    }
  );
}


// After loading: bind submit event
$(document).ready(function() {
  $("#submit-create").bind('click', createHypothesis);
});
