/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 //= require jquery-ui

 @import "bootstrap-sprockets";
 @import "bootstrap";

 //= require rails_bootstrap_forms

 .form-control::-webkit-input-placeholder { color: white; }

// *** Main ***
main {
   padding-top: 20px;
}

// *** Nav Bar ***

.navbar-default {
  background-color: #026aa7;
}

.navbar-brand {

}

.navbar-form {
  margin: 4px;
}

.glyphicon {
  color: #fff;;
}

.darkblue {
  background-color: #02436a;
  border: 0px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  color: #fff;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  background-color: #1996e0;
  border-top: 2px solid #1996e0;
}

.lightblue {
  background-color: #1996e0;
  border: 0px;
}

.form-control {
  color: #000;
}

.navbar-nav > li > a{
  margin: 8px;
  padding: 7px 10px;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.panel-default {
  background-color: #d3d3d3;
}

// Other stuff


.activeblock {
  background-color: #026aa7;
}

.block a {
  color: #000;
  font-weight: bold;
}

.activeblock a {
  color: #fff;
}

.completed {
  background-color: #DFF0D8!important;
}

.completed a {
  color: #3C763D;
}

progress {
  min-width: 50px;
  max-width: 250px;
}

.boxes {
  color: #000;
  padding-left: 1em;
}

input[type=radio] {
  margin-left: 10px;
}

.ui-progressbar.beginning .ui-progressbar-value { background: #d9534f; }
.ui-progressbar.middle .ui-progressbar-value { background: #f0ad4e; }
.ui-progressbar.end .ui-progressbar-value { background: #5cb85c; }

.progress-label {
  display:none;
}

.progress_bar {
  width: 150px;
  max-width: 95%;
  max-height: 10px;
  margin-left: auto;
}

.happiness {
  display: block;
  margin-top: 32px;;
  font-size: 30px;
}

.projectname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
