// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.phase_table {
  background-color: #dddddd;
  width: 100%;
  font-weight: normal;
}
.phase_table .top_row {
  font-weight: bold;
  color: #026AA7;
}

.phase_table td {
  background-color: white;
}

p.meters  {
  font-weight: lighter;
  margin-bottom: 4px;
  color: #d3d3d3;
}
