<div class="container-fluid">
		<footer>
			<hr style="margin-top: 5px;">
			<p class="text-center">
				<!-- An open source project supported by <a href="http://www.taoportfolio.com">taoPortfolio.com</a> | <a>Legal Notices</a> -->
			</p>
			<p class="text-center">
				<!-- Created and developed by <a href="https://sdurighello.github.io">Stefano Durighello</a> -->
			</p>
		</footer>
	</div>
